@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Raleway:wght@700;800&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

:root {
    /* Vari치veis para a paleta de cores do site  */
    --title-color: #4d4d4d;
    --text-color: #333;
    --dark-color: #000;
    --light-color: #fff;
    --intermediate-color: #ececec;
}

body {
    color: var(--text-color);
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--light-color);
}

/* CSS Reset em alguns elementos */
body,
h1,
h2,
p,
figure,
.menu {
    margin: 0;
    padding: 0;
}


img {
    max-width: 100%;
}

h1 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.5rem;
}

h1 a {
    color: var(--light-color);
    background-color: var(--dark-color);
    padding: 0.3rem 1rem;
    border-radius: 4px;
}

a {
    text-decoration: none;
}

header .limitador {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 12vh;

}




header {

    position: sticky;
    top: 0;
    background-color: var(--light-color);
}


/* Formata칞칚o da palavra Menu  */
nav h2 a {
    color: var(--dark-color);
    font-size: 1.2rem;
    padding: 1rem;
    display: inline-block;
}

nav h2 a:hover,
nav h2 a:focus,
.menu a:hover,
.menu a:focus {
    background-color: var(--intermediate-color);
}

/* Regras da lista ul de links */
.menu {
    list-style: none;

    /* ATEN칂츾O!!
    Usamos display:none para n칚o exibir inicialmente a lista de links */
    display: none;
}

/* Regra para formatar os links contidos na lista/menu */
.menu a {
    color: var(--dark-color);
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    height: 50px;
}



/* Seletor de classes combinadas
Esta regra somente ira funcionar quando AS DUAS CLASSES estiverem aplicadas JUNTAS no elemento HTML (no caso, na lista de menu/links

Obs: esta combina칞칚o ser치 possivel por meio da manipula칞칚o programada com JavaScript.*/
.menu.aberto {

    /* Aplicamos um fundo  lista evitando a dificuldade de leitura dos links */
    background-color: var(--light-color);

    /*O Flex far치 a lista de links aparecer */
    display: flex;

    /* Com os links em forma de coluna (vertical) */
    flex-direction: column;

    /* Usamos as propriedades de posicionamento e coordenadas para garantir o encaixe correto
    (abaixo do t칤tulo e da palavra Menu) */
    position: absolute;
    left: 0;
    right: 0;

}


article.destaque {
    background-image: url(../imagens/fundo-destaque.jpg);
    background-attachment: fixed;
    flex-direction: column;
    text-align: center;
    height: 88vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.destaque h2,
.destaque p {
    text-align: center;
    color: var(--light-color);

    animation-name: textoDestaque;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}


.destaque h2 {
    /* Clamp(
        tamanho m칤nimo,
        tamanho ideal,
        tamanho m치ximo
    ) */

    font-size: clamp(3rem, 10vw, 7rem);

}

.destaque p {
    font-size: clamp(1.5rem, 3vw, 3rem);
}


/* Regra de anima칞칚o */
@keyframes textoDestaque {
    from {
        opacity: 0;
        transform: translateY(-500px);
    }

    to {
        opacity: 1;
    }
}

article h2 {
    padding: 1rem;
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    color: var(--title-color);
}

.front-end,
.historia,
.localizacao {
    text-align: center;
}


article p {
    padding: 0.5rem 0;
    font-size: 1.2rem;
}

abbr {
    text-decoration: none;
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 0 2px;
    border-radius: 5px;

}

.historia {
    background-image: url(../imagens/fundo-madeira.jpg);
    background-attachment: fixed;
}

.historia h2 {
    color: var(--light-color);
    text-shadow: 0.1em 0.1em 0.2em black;

}

.historia iframe {
    width: 100%;
    max-width: 700px;
    margin-bottom: 2rem;
}

.localizacao iframe {
    width: 100%;
    margin-top: 2rem;
}

.limitador {
    width: 95vw;
    margin: auto;

}

footer {
    background-color: var(--dark-color);
    color: var(--light-color);
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
}


/* Regras para as p치ginas Produtos, Servi칞os e Contato */

.conteudo {
    background-color: var(--intermediate-color);
    padding: 0.5rem;
    border-radius: 8px;
}

.conteudo h2 {
    padding-left: 0;
    font-size: 2rem;
    border-bottom: solid 1px;
    margin-bottom: 1rem;
}

table {
    width: 80%;
    margin:auto;
}

table, th, td {
    border: solid 1px;
    
    /* Remove o espa칞o entre bordas */
    border-collapse: collapse;
}

caption {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1rem;
    padding-bottom: 0.5rem;
}

th {
    background-color: var(--dark-color);
    color:var(--light-color);
    border-color: var(--dark-color);
    padding: 0.7rem;
}

td {padding: 0.5rem;}

td:nth-child(2) {text-align: center;}

th:last-child, td:last-child {
    text-align: right;
}

th:first-child { text-align: left; }

tr:nth-child(odd) {
    background-color: var(--light-color);
}


td:last-child {position: relative;}
td:last-child::before {
    content: "R$ ";
    position: absolute;
    left: 10px;
}

.conteudo h2::before {content: "游놓 ";}

@media screen and (min-width: 570px) {
     nav h2  {display: none;}

    .menu {display: flex;}

    .menu li {width: 100%;}

    .front-end img {height: 150px;}

    nav{width: 70%;}
}

@media screen and (min-width:900px) {

    html {font-size: 18px;}

    .limitador {max-width: 1000px;}
}