@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Raleway:wght@700;800&display=swap');

*{ box-sizing: border-box; }

html { font-size: 16px; }

:root {  
    /* Variáveis para a paleta de cores do site  */
    --title-color: #4d4d4d;
    --text-color:  #333;
    --dark-color: #000;
    --light-color: #fff;
    --intermediate-color: #ececec;
}

body { 
    color: var(--text-color);
    font-family: 'Noto Sans', sans-serif ;
    background-color: var(--light-color);
 }

 /* CSS Reset em alguns elementos */
 body, h1, h2, p, figure, .menu {
    margin: 0;
    padding: 0;
 } 


img { max-width: 100%; }

h1 { 
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.5rem;
 }
h1 a { 
    color: var(--light-color);
    background-color: var(--dark-color);
    padding: 0.3rem 1rem;
    border-radius: 4px;
 }

a { text-decoration: none; }

header { 
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 
 /* Formatação da palavra Menu  */
 nav h2 a { 
    color: var(--dark-color);
    font-size: 1.2rem;
    padding: 1rem;
    display: inline-block;
    }
    
 nav h2 a:hover, nav h2 a:focus, 
 .menu a:hover, .menu a:focus {
    background-color: var(--intermediate-color);
    } 
    
  /* Regras da lista ul de links */
.menu { 
    list-style: none; 
    
    /* ATENÇÃO!!
    Usamos display:none para não exibir inicialmente a lista de links */
    display:none;
}

/* Regra para formatar os links contidos na lista/menu */
.menu a {
    color: var(--dark-color);
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    height: 50px;
}



/* Seletor de classes combinadas
Esta regra somente ira funcionar quando AS DUAS CLASSES estiverem aplicadas JUNTAS no elemento HTML (no caso, na lista de menu/links

Obs: esta combinação será possivel por meio da manipulação programada com JavaScript.*/
.menu.aberto {
    
    /* Aplicamos um fundo à lista evitando a dificuldade de leitura dos links */
    background-color: var(--light-color);
    
    /*O Flex fará a lista de links aparecer */
    display: flex;
    
    /* Com os links em forma de coluna (vertical) */
    flex-direction: column;

    /* Usamos as propriedades de posicionamento e coordenadas para garantir o encaixe correto
    (abaixo do título e da palavra Menu) */
    position: absolute;
    left: 0;
    right: 0;

}


article.destaque {
    background-image:url(../imagens/fundo-destaque.jpg) ;  
    background-attachment: fixed; 
    flex-direction: column;
    text-align: center;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.destaque h2, .destaque p {
     text-align: center;
     color: var(--light-color);

}












